body {
    font-family: 'Arial','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
}

th{
    text-align: left;
    font-size: 1.5em;
    color: #9d9d9d;
    padding-left: 5px;
    padding-bottom: 15px;
    font-weight: 100;
    padding-top: 15px;
}

td{
    text-align: left;
    vertical-align:top;
    padding-right: 25px;
    padding-left: 5px;
    padding-bottom: 20px;
}

a{
    text-decoration:none;
    color: #f5db9f;
}

col:first-child{
    width:150px;
}
col:last-child{
    width:300px;
}

table{
    background-color: #5f5f5f;
    color: #B4AC9D;
}

.leftSide{
    font-style:italic;
    color: white;
}
#class{
    color: red;
    font-size:1.1em;
}

#status{
    color: #5eb05e;
    font-size: 2.3em;
    line-height:14px;  
    vertical-align:top;
}

#answer{
    color:darkorange;
}

.service{
    color: lightgray;
}