body {
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style-type: none;
    display:inline-block;
    padding-left:7px;
}


ul ul{
    display:none;
    color:gray;
}


nav ul li > a:hover{
    text-decoration:underline;
    cursor:pointer;
}

nav  li:hover > ul{
    display:block;
}
